.bg-company-gren1 {
    background-color: #01937C;
}
.bg-btn {
    background-color: #B6C867;
    border-color: #B6C867;
    font-size: large;
}
.btn-danger{
    background-color: red;
    border-color:red;
    font-size: large;
}

.font{
    color: white;
    font-size: x-large;
    font-weight: 400;
}

.modal-font{
    color: black;
    font-size: x-large;
    font-weight: 400;
}